html, body {
	height : 100%;
}

h1 {
	text-align : center;
}

li {
	list-style: inside circle;
	list-style-type : circle;
}

ul:not(.browser-default) > li {
	list-style-type : circle !important;
}

ul:not(.browser-default) > .notli {
	list-style-type : none !important;
}

table {
	border-collapse : unset !important;
}
.calendar {
	width : 70%; 
	height : 70%;
	table-layout: fixed ;
	margin : auto;
	text-align : center;
	
}

td {
	text-align : center !important; 
}

.daysBfore {
	height : 80%;
}

.xmasDay {
	height : 20%;
}

.daycase {
	width : 100% ; 
	height : 100%;
}

.dayTileOpened{
	display : block; 
	color : green;
	padding : 20px;
	background-image : url('../images/chat.jpg');
	background-size : contain;
	background-position : center;
	background-repeat: no-repeat;
}

.dayTileClosed{
	display : block; 
	color : red;
	background-image : url('../images/back.png');
	background-size : contain;
	background-position : center;
	background-repeat: no-repeat;
}

.dropdown-content {
	width : 25% !important ;
}

.modalHistory{
	border : none; 
	background-color: transparent;
	height : auto;
	width : 100%;
	display : flex;
}

.modal {
	border-radius : 10px !important;
}