html, body {
	height : 100%;
	//background-color : #e8f1f2;
}

#bodyCalendar{
	background-image : url('../img/white_wood_pixabay.jpg');
	background-position : center;
}

.header {
	background-color : #1D5E47;
}

h1 {
	text-align : center;
	color : #DF2935;
	font-size :2.5em !important;
	font-family : monospace, serif !important;
}

h4 {
	color : #DF2935;
}

h6{
	color : #DF2935;
	font-weight : bold !important;
}

h5 {
	font-weight : bold !important; 
	padding-left : 5%;
}

.btn {
	background-color : #1D5E47 !important;
	float : right;
}

li {
	list-style: inside circle;
	list-style-type : circle;
}

ul:not(.browser-default) > li {
	list-style-type : circle !important;
}

ul:not(.browser-default) > .notli {
	list-style-type : none !important;
	display : inline-block;
}

table {
	border-collapse : unset !important;
}
.calendar {
	width : 60%; 
	height : 70%;
	table-layout: fixed ;
	margin : auto;
	text-align : center;
	//padding-left : 10%	;
}

td {
	text-align : center !important; 
}

.daysBfore {
	height : 80%;
}

.xmasday {
	height : 20%;
	width : 20%;
	margin-left:auto;
	margin-right : auto;
}

.daycase {
	width : 100% ; 
	height : 100%;
}

.dayTileOpened{
	display : block; 
	color : #1D5E47;
	padding : 5px;
	font-weight : bold;
	border: 2px groove #1D5E47 !important;
	width :  60%;
	height : 100%;
	margin : auto;
}

.dayTileClosed{
	display : block; 
	color : #DF2935;
	padding : 5px;
	font-weight : bold;
	border: 2px groove #FFDA0A !important;
	width :  60%;
	height : 100%;
	margin : auto;
}

.dropdown-content {
	width : 20% !important ;
}

.modalHistory{
	border : none; 
	background-color: transparent;
	width : 100%;
	display : flex;
	min-height : 50px;
	padding-left : 5%;
}

.history{
	scrollbar-color : green;
}

.modal {
	border-radius : 10px !important;
}

#contactContent, #srcContent, #credit, #homeContent{
	text-align : justify;
	padding-left : 10%;
	padding-right :20%;
}

#mypic{
	max-width : 200px;
	max-height: 200px;
	float : left;
	margin-right : 20px;
}

.psst{
	font-size : 0.7em;
}

a:not(.menu){
	color : #1D5E47 !important;
	font-style:italic ;
	text-decoration : underline;
}

q {
	font-size : 2em;
	font-style : italic; 
	color : #DF2935;
}
.quote {
	width : 80%;
	margin : auto;
	text-align : right;
}

#flower, #list {
	max-width : 100px;
	max-height : 100px;
	float : right;
}

#laptop, #breathe, #unicorn, #cold, #cat, #run, #whitecat, #window, #cowork, #reindeer{
	float : right; 
	max-width : 150px;
	max-height : 150px;
	padding-left : 10px;
}
#thanks, #team , #repos{ 
	max-width : 250px;
	max-height : 150px;
}