#bodyCalendar2021{
	background-image : url('../img/pexels-giftpunditscom-1303094.jpg');
	background-position : center;
	background-repeat: no-repeat;
	background-size : cover;
}

.calendar {
	width : 60%; 
	height : 70%;
	table-layout: fixed ;
	margin : auto;
	text-align : center;
}

.daysBfore {
	height : 80%;
}

.xmasday {
	height : 20%;
	width : 20%;
	margin-left:auto;
	margin-right : auto;
}

.daycase {
	width : 100% ; 
	height : 100%;
}

.dayTileOpened{
	display : block; 
	background-color : rgba(254, 246, 242, 0.6);
	border: 2px groove #FFDA0A !important;
	border-radius : 3px;
	font-family : Gabriola;
	padding : 5px;
	width :  60%;
	height : 100%;
	font-size : 1.7em;
}

.dayTileClosed{
	display : block; 
	background-color : #DF2935;
	color : #FFDA0A !important;
	border: 2px groove #FFDA0A !important;
	border-radius : 3px;
	font-family : Gabriola;
	padding : 5px;
	width :  60%;
	height : 100%;
	font-size : 1.7em;
}

.dropdown-content {
	width : 20% !important ;
}

.modalHistory{
	border : none; 
	background-color: transparent;
	width : 100%;
	display : flex;
	min-height : 50px;
	padding-left : 5%;
}

.history{
	scrollbar-color : green;
}

.modal {
	border-radius : 10px !important;
}

#contactContent, #srcContent, #credit, #homeContent{
	text-align : justify;
	padding-left : 10%;
	padding-right :20%;
}

a:not(.menu){
	color :rgba(227, 48, 60, 1);
}

#cowork{
	max-width : auto;
	max-height : 250px;
}
#reindeer, #conges {
	max-width : auto;
	max-height : 150px; 
 }

#medit{
	max-width : auto;
	max-height : 150px;
	float : right;
}

#reading, #cocooning, #xmaspresent, #sketchnote, #manager{
	max-width : 200px;
	max-height : auto;
	float : right; 
}

 #list, #yoga, #gingerbread{
	max-width : 100px;
	max-height : 100px;
	float : right;
}